services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dev-onco-db
    ports:
      - "5432:5432"

  app:
    build: .
    ports:
      - "3002:3002"
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/dev-onco-db
    depends_on:
      - db